[Desktop Entry]
Name=Real Vibecode - URL Handler
Comment=AI-Native Code Editing. Redefined.
GenericName=Text Editor
Exec=real-vibecode --open-url %U
Icon=real-vibecode
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/real-vibecode;
Keywords=real-vibecode;ai;editor;
