[Desktop Entry]
Name=VibeCode - URL Handler
Comment=AI-Native Code Editing. Redefined.
GenericName=Text Editor
Exec=vibecode --open-url %U
Icon=vibecode
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/vibecode;
Keywords=vibecode;ai;editor;
