[Desktop Entry]
Name=VibeCode
Comment=AI-Native Code Editing. Redefined.
GenericName=Text Editor
Exec=vibecode %F
Icon=vibecode
Type=Application
StartupNotify=false
StartupWMClass=VibeCode
Categories=TextEditor;Development;IDE;
MimeType=application/x-vibecode-workspace;
Actions=new-empty-window;
Keywords=vibecode;ai;editor;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=vibecode --new-window %F
Icon=vibecode
