[Desktop Entry]
Name=Real Vibecode
Comment=AI-Native Code Editing. Redefined.
GenericName=Text Editor
Exec=real-vibecode %F
Icon=real-vibecode
Type=Application
StartupNotify=false
StartupWMClass=Real Vibecode
Categories=TextEditor;Development;IDE;
MimeType=application/x-real-vibecode-workspace;
Actions=new-empty-window;
Keywords=real-vibecode;ai;editor;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=real-vibecode --new-window %F
Icon=real-vibecode
